html, body {
    height: 100%;
    min-width:900px;
  margin:0 auto;
  overflow:no-content; 
}

.headSide
{
  background-image: url("backgraund_header.png"); 
  background-repeat: repeat;
  background-position: top center;
  background-attachment: scroll;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #bab9b9;
  background-color: #fff;
}

.table {
    display: table;
    width: 80%; 
    margin: 0px auto;
}

.tableRight {
    display: table-cell; 
    float:right;
    line-height:0px;
}

.tableLeft {
    display: table-cell;
    vertical-align: bottom;
}

.tableR {
   display: table-cell; 
   text-transform: uppercase; 
   padding-top: 10px;
}

.tableL {
    display:table-cell; 
    text-align: justify; 
    vertical-align: middle; 
    width:60%; 
    padding: 10px;
}

.logo {
    float:left; 
    margin-left:10%; 
    display: table;
    text-align:left;
}

.logo > * {
    margin:10px;
    display: table-cell;
    vertical-align: middle;
    }

.menu 
{
  margin-right: 10%;
  position: relative;
  top: 12px;
  right: 13px;
  float: right;
}

.menu > a
{
    display:block;
    float:left;
    margin:10px;
    padding:20px 15px;
    font: 600 14px/16px sans-serif;
    text-transform: uppercase;
    color: #9a9cc7;
}

.menu > a:hover 
    {
        transition:all linear 0.3s;
        color:#e74c3c;
    }

#content 
{
    width:100%;
    height:100%;
}

/*#content > iframe {
    width:100%; 
    height:100%;
}*/

.footSide
{
  background-image: url("backgraund_footer.png"); 
  background-repeat: repeat;
  background-position: top center;
  background-attachment: scroll;
  margin: 0px auto;
  padding: 2px;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #bab9b9;
  background-color: #fff;
}

.common > a > img, .apps > a >img 
{
    opacity:0.7;
}

.common > a > img:hover, .apps > a >img:hover  
{
    transition:all linear 0.3s;
    opacity:1;
}

.apps {
    text-align:center;
    line-height:0px;
}

.subscriber {
  clear:both;
  line-height:0px;
  padding-top:25px;
  padding-bottom:25px;
  text-align:center;
}

.advert {
  clear: both;
  line-height: 0px;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: left;
}

.enterField {
    text-transform: uppercase;
    padding:12px;
    border: 2px #9a9cc7 solid;
    background-color:#fff;
	color:#9a9cc7;
	line-height:20px;
	box-shadow:none;
	text-shadow:none;
	-webkit-border-radius:17px;
	-moz-border-radius:17px;
	border-radius:17px;
    text-decoration:none;

}

.downBtn 
{  
  text-transform: uppercase;
  font: 600 18px sans-serif;
  padding: 12px 45px;
  margin: 13px;
  text-align: center; 
  line-height: 0px;
  border: none;
  background-color: #e74c3c;
  color: #fff;
  box-shadow: none;
  text-shadow: none;
  border: white 2px solid;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  text-decoration: none;
}

.downBtn:hover 
    {
    transition:all linear 0.3s;
    background:#ffffff;
	color:#bf2718;
    }

a
{
    text-decoration:none;
    color:#bf2718;
    opacity:0.9;
    cursor:pointer;
}

iframe {
    display:block; 
    border:none;
    width:100%; 
    height:100%;
}

div
{
    margin:0px;
   /** border:solid 1px red; */
    overflow:visible;
    padding:0px;
}

.spacer 
{
    clear:both;
    line-height:0px;
    height:1em;
    width:100%;
    border:hidden;
}

h1 
{
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font: normal 70px/50px Sans-serif;
      color: #2d2e42;
}

h2 
{
      text-transform: none;
      color: #fff;
      line-height: 50px;
      margin-bottom: 10px; 
      font: normal 50px Sans-serif;
}

h3 
{
      color: #e74c3c;
      overflow: hidden;
      text-transform: uppercase;
      padding-top: 0;
      padding-bottom: 10px;
      font-weight: 300;
      font: normal 20px/24px Sans-serif;
      margin: 0 0 25px;
}

.infoText 
{
      font: normal 14px Sans-serif;
      line-height: 24px;
      color: #bab9b9;
}